body {
	background: url("../img/woodbg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Barlow Semi Condensed', sans-serif;
	/*position: relative;*/
}

p {
		font-family: 'Roboto', sans-serif;
}

h1,
h2,
.bio
{
	font-weight: bold;
	color: steelblue;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey
}

h1 {
	
	font-size: 50px;
	margin-bottom: 0;
}

h2 {
	font-size: 18px;
	margin-top: 0;
}

.bio {
	font-size: 14px;
}

.me {
	height: 150px;
	border-radius: 50%;
	border-style: solid;
	border-color: white;

}

.wrapper {
	width: 55%;
	/*margin: 0 auto;*/
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

