/***   css  reset   ***/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	color: #DDFFEB;
}

/*  site palette/fonts
font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif; big font

#0E3B43 - dark  footer
#B0413E - red   body
#357266 - teal  well 
#DDFFEB - light font

*/

/***   clear   ****/
.clear:after {
	content: "";
	display: block;
	clear: both;
}


/***   general/mobile   ***/

body {
	background: url(../img/bg-wood.jpg);
	background-color: #B0413E;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-primary {
	color: #DDFFEB;
	border: 2px dotted #0E3B43;
}

.dropdown {
	padding: 2vw;
}

.btn-primary,
.dropdown-menu,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
	background-color: #B0413E;
}

/***   adjust to nav height   ***/
body.nav-adjust {
	margin-top: 50px;
} 

/***   navbar   ***/
.navbar-inverse,
.navbar-inverse .navbar-nav > .active > a {
	background-color: #B0413E;
}

button.navbar-toggle {
	background-color: #357266;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > li > a, 
.navbar-inverse .navbar-header {
	color: #DDFFEB;
}


.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #0E3B43;
}



/***   carousel   ***/

div.item > img.carouselimg {
	height: 100vh;
	width: auto;
	object-position: center;
	max-width: 200%;
	max-height: 200%;
}

.carousel-inner > div.item {
	overflow: hidden;
}

.carousel-caption > a {
	padding: 3vw 10vw;
	font-size: 1em;
	color: #DDFFEB;
}

/****   footer   ****/

footer {
	min-height: 30vh;
	background-color: #0E3B43;
	border-top: 2px dotted #DDFFEB;
	
}

footer > p {
	text-align: left;
	margin-left: 3vw;
	margin-right: 3vw;
}


/***   index/home css   ***/
.carousel-caption > .btn-landing {
	border-radius: 0;
	background-color: transparent;
	border: 1px solid #DDFFEB;
	margin-bottom: 3vw;
}


/***   about css   ***/

.about-well {
	background-color: #357266;
	margin: 0 auto;
	margin-top: 10vh;
	padding: 10px;
	border: 2px dotted #0E3B43;
	margin-bottom: 10vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-wellimg {
	overflow: hidden;
	height: 30vh;
	border: 2px dotted #0E3B43;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-wellrow {
	align-content: center;
}

.about-section {
	margin: 10px 0;
}

.about-section > h2 {
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 5vh;
}

.about-section > p {
	text-align: center;
	margin: 5vh 0 10vh 0;
}


/***    menu css   ***/

.menu-topwell {
	background-color: #B0413E;
	margin: 0 auto;
	margin-top: 10vh;
	padding: 10px;
	border: 2px dotted #0E3B43;
}

.menu-topwell > h2 {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
}

.menu-well {
	background-color: #357266;
	margin: 0 auto;
	padding: 10px;
	border: 2px dotted #0E3B43;
	margin-bottom: 10vh;
}

.menu-wellimg {
	overflow: hidden;
	height: 20vh;
	border: 2px dotted #0E3B43;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wellimg img {
}

.menu-wellrow {
	align-content: center;
}

.menu-section {
	margin: 10px 0;
}

.menu-section > h2 {
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
}

.menu-item {
	margin: 35px 0;
}

.menu-foodname {
	font-weight: bold;
	border-bottom: dotted;
	padding: 0;
}

.menu-foodprice {
	font-weight: bold;
	text-align: center;
	padding: 0;
}

.menu-description {
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.5em;
	padding: 0;
	text-align: justify;
}


/***   order online   ***/

.order-topwell {
	background-color: #B0413E;
	margin: 0 auto;
	margin-top: 10vh;
	padding: 10px;
	border: 2px dotted #0E3B43;
}

.order-topwell > h2 {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
}

.order-well {
	background-color: #357266;
	margin: 0 auto;
	padding: 10px;
	border: 2px dotted #0E3B43;
	margin-bottom: 10vh;
}

.order-wellrow {
	align-content: center;
}

.order-section {
	margin: 10px 0;
}

.order-section > h2 {
	text-align: left;
	font-size: 2em;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 5vh;
}

.order-section > p {
	text-align: Left;
	margin-bottom: 5vh;
	margin-top: 5vh;
}

.order-ddpizza {
	width: 10vw;
	height: 10vh;
	border: 2px dotted #0E3B43;
	background-color: #B0413E;
}



/***   media queries   ***/
@media only screen and (min-width: 481px) and (max-width: 960px) {
}

/*** desktop ***/
@media only screen and (min-width: 961px) {

	div.item > img.carouselimg {
		min-height: 100vh;
		width: 100vw;
		object-position: center;
		max-width: none;
		max-height: none;
	}

}


