/***   css  reset   ***/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Khula', sans-serif;
}

/***   clear   ****/
.clear:after {
	content: "";
	display: block;
	clear: both;
}

/***   adjust to nav height   ***/
body.nav-adjust {
	margin-top: 50px;
} 


/***   navbar   ***/
/*.navbar-inverse,
button.navbar-toggle {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
	border-right: transparent;
	border-left: transparent;*/
}

div#myNavbar.navbar-collapse.collapse.in,
div#myNavbar.navbar-collapse.collapse.in > ul.nav.navbar-nav {
	background-color: blue;
}


/***   landing/index css   ***/
div.index-divrow {
	margin-top: 10vh;
}


.index-btmcontent {
	text-align: center;
}





/***    menu css   ***/

.menu-price, 
.menu-subprice {
	text-align: center;
}

td.menu-submenu p,
td.menu-submenu p {
	margin-bottom: 0;
}