* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

/*   clear floats   */
.clear:after {
	content: "";
	display: block;
	clear: both;
}

body {
	/*background-color: #989898;
	background: url('../img/tsinelasimg.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;*/
}


/*   wrapper   */

.wrapper {
	width: 85%;
	min-width: 85%;
	float: right;
	position: relative;
}

.wrapper > a {
	height: 300px;
	padding: 10px; 
	text-decoration: none;
	color: white;
	font-size: 3em;
	display: block;
}

.site {
	width: 60%;
	height: 50%;
	position: absolute;
	border: 5px solid white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	overflow: hidden;
	z-index: 2;
	color: 	white;
}

.siteback {
	width: 60%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	background-color: #979aaa;
	opacity: 0.5;
	z-index: 1;
}

.site > h1,
.site > h4 {
	text-align: center;
	margin: 20px;
	padding: 10px;
}

.front {
	background-color: #989898;
	background: url('../img/tsinelasimg.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}

.usefulness,
.collection {
	background-color: #8b8589;
}

.about,
.gallery {
	background-color: #838996;
}

.types {
	background-color: #979aaa;
}


.usefulness {
	background: url('../img/bg-uses.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
}
.collection {
	background: url('../img/bg-collection.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
}

/*   sidebar   */

nav {
	position: fixed;
	width: 15%;
	/*min-width: 15%;*/
	top: 0;
	left: 0;
	height: 100vh;
	background-color: #4c516d;
	overflow: hidden;
}

nav > a {
	background-color: #838996;
	position: relative;
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 1.5em;
	width: 90%;
	padding: 10px;
	display: block;
	margin: 10px auto;

}

.logo {
	height: 150px;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

.logo > a > img {
	height: 100%;
	width: 100%;
}

/*  sidebar button  */
#toggleIcon,
#toggleIcon1 {
	background-color: #838996;
	position: fixed;
	bottom: 0;
	left: 9px;
	padding: 10px;
	margin-top: 2px;
	z-index: 99999999;
	color: white;
	font-size: 1.3em;
	height: 50px;
	width: 159px;
	text-align: center;
}

#toggleIcon1 {
	left: 0;
}