* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*   clear floats   */
.clear:after {
	content: "";
	display: block;
	clear: both;
}


/*   wrapper   */

.wrapper {
	width: 85%;
	min-width: 85%;
	float: right;
	position: relative;
}

.site {
	width: 60%;
	height: 50%;
	position: absolute;
	border: 5px solid white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	overflow: hidden;
}

.site > h1,
.site > h4 {
	text-align: center;
	margin: 20px;
	padding: 10px;
}

.front {
	background-color: #989898;
	height: 600px;
	position: relative;
	color: white;
}

.home,
.about,
.services,
.collection,
.gallery {
	height: 300px;
	font-size: 3em;
	color: white;
	padding: 10px; 
}

.home,
.collection {
	background-color: #8b8589;
}

.about,
.gallery {
	background-color: #838996;
}

.services {
	background-color: #979aaa;
}


/*   sidebar   */

nav {
	position: fixed;
	width: 15%;
	min-width: 15%;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #4c516d;
	overflow: hidden;
}

nav > a {
	background-color: #838996;
	position: relative;
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 1.5em;
	width: 90%;
	padding: 10px;
	display: block;
	margin: 10px auto;

}

.logo {
	height: 150px;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

.logo > a > img {
	height: 100%;
	width: 100%;
}